.checkout__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.productInfo__container {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-top: 1rem;
  padding-left: 1rem;
  padding-right: 0.5rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  align-items: center;
  background-image: linear-gradient(
    to right,
    var(--cake-gradient-second-color),
    var(--cake-gradient-first-color)
  );
  border-radius: 0.6rem;
}

.cakeImage_Mini {
  height: 2rem;
  width: 2rem;
}

.quantityPriceInfo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.8rem;
  min-width: 20rem;
}
.changeQuantityButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--button-color);
  cursor: pointer;
  padding: 0.3rem;
  border-radius: 50%;
  height: 1.2rem;
  width: 1.2rem;
}

.toggleRange {
  width: 2rem;
  accent-color: var(--button-color);
}

.shipmentToggle {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.totalPrice {
  font-size: 1.3em;
  padding-top: 0.5rem;
}

.paymentButton {
  background-color: var(--button-color);
  color: white;
  margin-top: 1rem;
}

.paymentContainer {
  display: flex;
  flex-direction: column;
  width: 20rem;
  padding: 2rem;
  border: solid var(--button-color);
}
