.icon-container {
  position: relative;
}

.cart-count{
    position: absolute;
    top: -0.5rem;
    right: -0.5rem;
    width: 1.3rem;
    height: 1.3rem;
    line-height: 1.2rem;
    border-radius: 50%;
    background-color: var(--button-color);
    color: white;
    font-size: 0.8rem;
    text-align: center;
    
}